@import url(http://fonts.googleapis.com/css?family=Marko+One);
@import url(http://fonts.googleapis.com/css?family=Roboto:300,400);

header, footer, nav, #top {
  ul {
    display: inline;
    margin: 0px;

    li {
      display: inline-block;
    }
  }
}

#top {
  background: rgb(206, 243, 241);
  padding-top: 6%;

  #devise_navigation {
    display: block;
    text-align: right;
    vertical-align: bottom;
    width: 60%;
    margin: auto;

    li {
      a {
        color: rgb(79, 207, 212);
      }
    }

    li:first-child:after {
      content: " |";
      color: rgb(79, 207, 212);
      margin-top: 3%;
    }
  }

  header {
    width: 1000px;
    height: 130px;
    background: #FFF;
    border-radius: 40px 40px 0px 0px;
    margin: .5% auto 0% auto;

    .left-column {
      h1 {
        margin-top: -20px;
        margin-bottom: 0px;
      }
    }

    .right-column {
      @include grid-column(7);

      margin-top: 50px;
      text-align: center;

      h5 {
        color: rgb(79, 207, 212);
        font-family: 'Marko One', serif;
      }

      ul {
        li {
          width: 130px;
          border-radius: 20px;
          text-align: center;
        }

        a {
          color: #FFF;
        }

        .blue {
          background: rgb(79, 207, 212);
        }
        .green {
          background: rgb(119, 192, 40);
        }
        .purple {
          background: rgb(126, 0, 142);
        }
        .pink {
          background: rgb(255, 0, 133);
        }
      }

      h2 {
        margin: 0px;
        margin-top: -10px;
      }
    }

    .left-column {
      @include grid-column(5);
    }
  }
}

nav {
  background: rgb(254, 199, 209);
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;

  ul, form {
    width: 1000px;

    li {
      width: 166px;
      font-family: 'Marko One', serif;
      a {
        color: rgb(123, 0, 71);
      }
    }
  }

  form#new_auction_search {
    display: inline;

    label, input[type="submit"] {
      display: none;
    }

    input#auction_search_search_term {
      border-radius: 20px;
      border: 2px solid rgb(241, 147, 165);
      width: 100px;
      margin: 0px;
    }
  }
}

#bottom {
  background: rgb(80, 207, 213);

  footer {
    text-align: center;
    margin-top: 20px;

    ul {
      color: #FFF;

      li {
        margin: 0px 5px 30px 5px;

        a{
          color: #FFF;
        }
      }

      li:after {
        margin-left: 8px;
        content: " |";
      }

      li:last-child:after {
        content: "";
      }
    }
  }
}

#content {
  background: #FFF;
  border-radius: 0px 0px 40px 40px;
  padding: 20px 15px;

  @include grid-row();

  $left-column-size: 7;
  $right-column-size: 12 - $left-column-size;
  .left-column {
    @include grid-column($left-column-size);
     h2 {
      color: rgb(119, 192, 40);
      font:{
        size: 1.4em;
        family: 'Marko One', serif;
      }
     }

     h3 {
      color: rgb(79, 207, 212);
      float: right;
      margin-right: 12%;
      font: {
        size: 1.4em;
        family: 'Roboto', sans-serif;
        weight: 300;
      }
     }

    a {
      border-radius: 20px;
      background-color: rgb(255, 0, 133);
      border: none;
      padding: 7px 20px;
      float: right;
      margin: 0% 12%;
    }

    #tree {
      padding-top: 31%;
      padding-left: 80%;
    }
  }
  .right-column {
    @include grid-column($right-column-size);

    #child_images {
      :nth-child(2) {
        margin: 10px 0px;
      }
    }
  }

  .bottom-row {
    margin-top: 40px;
    text-align: center;

    .dot-row{
      margin: -9%;
    }

    ul {
      list-style-type: none;
      margin-top: 20px;

      li {
        display: inline-block;
        width: 220px;
        height: 106px;
        margin: 0px 5px;
        padding: 0px;
      }
    }
  }
}

.clear {
  clear: both;
}

#dotted-line-1{
  background-image: asset-data-url('homepage/dotted_line_44_36.png');
  background-repeat: repeat-x;
  height: 20px;
  margin-top: 6%;
}

#dotted-line-2{
  background-image: asset-data-url('homepage/dotted_line_44_36.png');
  background-repeat: repeat-x;
  height: 20px;
}


$small-range: (0em, 30em); /* 0, 640px */
$small-only: "#{$screen} and (max-width: 40em)" !default;

@media #{$small-only} {
  #content {
    .left-column, .right-column {
      @include grid-column(12);
    }
  }
}
